<div class="register-container">
  <div class="wave-bg">
    <div class="content">
      <section class="container">
        <div class="wave"></div>
      </section>
      <h1>إنشاء حساب</h1>
      <form>
        <div class="input-column">
          <div class="input-container">
            <input
              type="text"
              id="fullName"
              name="fullName"
              placeholder=" اسم المستخدم"
              style="width: 90%"
              required
            />
          </div>
          <div class="input-container">
            <input
              type="email"
              id="email"
              name="email"
              placeholder="حالة المستخدم"
              style="width: 90%"
              required
            />
          </div>
          <div class="input-container">
            <input
              type="password"
              id="password"
              name="password"
              placeholder=" البريد الالكتروني"
              style="width: 90%"
              required
            />
          </div>
          <div class="input-container">
            <input
              type="password"
              id="confirmPassword"
              name="confirmPassword"
              placeholder=" كلمة المرور"
              style="width: 90%"
              required
            />
          </div>
          <div class="input-container">
            <input
              type="text"
              id="address"
              name="address"
              placeholder="تأكيد  كلمة المرور"
              style="width: 90%"
              required
            />
          </div>
          <div class="input-container">
            <input
              type="text"
              id="city"
              name="city"
              placeholder="رقم الهاتف المحمول"
              style="width: 90%"
              required
            />
          </div>
        </div>
        <div class="input-column">
          <div class="input-container">
            <input
              type="text"
              id="country"
              name="country"
              placeholder=" اسم المؤسسة "
              style="width: 90%"
              required
            />
          </div>
          <div class="input-container">
            <input
              type="text"
              id="phone"
              name="phone"
              placeholder="حاله المؤسسة"
              style="width: 90%"
              required
            />
          </div>
          <div class="input-container">
            <input
              type="text"
              id="dob"
              name="dob"
              placeholder="نوع المؤسسة"
              style="width: 90%"
              required
            />
          </div>
          <div class="input-container">
            <input
              type="text"
              id="gender"
              name="gender"
              placeholder="كود مالى المؤسسة"
              style="width: 90%"
              required
            />
          </div>
          <div class="input-container">
            <input
              type="text"
              id="occupation"
              name="occupation"
              placeholder="كود الترخيص"
              style="width: 90%"
              required
            />
          </div>
          <div class="input-container">
            <input
              type="text"
              id="education"
              name="education"
              placeholder="ملحقات"
              style="width: 90%"
              required
            />
          </div>
        </div>
        <div class="input-column">
          <div class="input-container">
            <input
              type="text"
              id="interests"
              name="interests"
              placeholder="الحد المالى من"
              style="width: 90%"
              required
            />
          </div>
          <div class="input-container">
            <input
              type="text"
              id="interests"
              name="interests"
              placeholder="الحد المالى الى"
              style="width: 90%"
              required
            />
          </div>
          <button type="submit">إنشاء حساب جديد</button>
          <br />
          <br />
          <div class="forgot-password">
            <a href="login">هل لديك حساب؟تسجيل الدخول</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
