<div class="page-container">
  <div>
    <br />
    <br />
    <br />
    <h1>تقرير الطلب</h1>

    <div>
        <label for="">رقم الطلب :</label> <br/><br/>
        <label for="">تاريخ الطلب :</label> <br/><br/>
        <label for="">اجمالي المبلغ :</label> <br/><br/>
        <label for="">حالة الدفع :  </label> <br/><br/>
        <label for="">المبلغ المدفوع :</label> <br/><br/>
        <label for="">المبلغ المتبقي :</label> <br/><br/>
        <label for="">عدد القطع :</label> <br/><br/>
        <label for="">تم الاستلام :</label> <br/><br/>
        <label for="">تاريخ الاستلام :</label> <br/><br/>
        <label for="">طريقة الدفع : </label> <br/><br/>
        <label for="">الوحدات المباعة:</label> <br/><br/>

    </div>
  </div>
</div>
