<div class="page-container">

<div>
    <br/>
    <br/>
    <br/>
    <br/>
    <h1>تقرير الفواتير</h1>
    <table>
      <thead>
        <tr>
          <th>تفاصيل </th>
          <th>رقم الفاتورة</th>
          <th>الحاله</th>
          <th>المشتريات</th>
          <th>رقم الطلب</th>
          <th>تاريخ الطلب</th>
          <th>تاريخ الفاتورة</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- Use *ngFor to loop over data and create rows -->
        <tr>
          <td><button>عرض</button></td>
          <!-- Add more td elements for other columns -->
          <td>55</td>
          <td>تم التوصيل</td>
          <td></td>
          <td>55</td>
          <td>8 ابريل 2023</td>       
          <td>8 ابريل 2023</td>
          <td><input type="checkbox"></td>
        </tr>
        <!-- Repeat the above row structure for each row of data -->
      </tbody>
    </table>
    <br/>
    <br/>
    <br/>
    <a ><button class="bn632-hover bn21" onclick="alert('تم رفض الطلبات المحددة')">رفض</button></a>
    <a ><button class="bn632-hover bn22" onclick="alert('تم تأكيد الطلبات المحددة')">تاكيد</button></a>
    <a href="main"><button class="bn632-hover bn22">العودة</button></a>

  </div>
  