
<div class="page-container">

  <div>
      <br/>
      <br/>
      <br/>
      <br/>
      <h1>تقرير الفواتير</h1>
<!-- src/app/order-list/order-list.component.html -->
<table class="InvoicesTable">
<thead>
  <tr>
    <th>تفاصيل الفاتورة</th>
    <th>رقم الطلب</th>
    <th> المبلغ</th>
    <th>رقم الفاتورة </th>
    <th></th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let invoice of invoices">
    <td><button (click)="viewInvoiceDetails(invoice.PaymentReference)">عرض</button></td>
    <td>{{ invoice.OrderID }}</td>
    <td>{{  invoice.InvoiceAmount  }}</td>
    <td>{{ invoice.PaymentReference }}</td>
    <td><input type="checkbox"
      [checked]="selectedPaymentRef.has(invoice.PaymentReference)" 
        (change)="toggleSelection(invoice.PaymentReference)"
      ></td>
  </tr>
</tbody>
</table>

      <br/>
      <br/>
      <br/>
      <a ><button class="bn632-hover bn21" (click)="processSelected(false)">رفض</button></a>
      <a ><button class="bn632-hover bn22" (click)="processSelected(true)">تاكيد</button></a>
      <a href="main"><button class="bn632-hover bn22">العودة</button></a>
    </div>
    