.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(src\assets\main.png);
    background-size: cover;
    background-position: center;
  }
  
  .wave-bg {
    position: relative;
    
    width: 100%;
    height: 50vh;
  }
  
  .content {
    text-align: center;
    padding: 20px;
    color: #4d1616;
    position: relative;
    display:flex;
    flex-direction: column;
  }
  
  h1 {
    font-size: 4rem; /* 200% of the original size */
    margin-bottom: 20px;
  }
  
  button {
    padding: 20px 40px; /* Updated padding */
    font-size: 2rem; /* 200% of the original size */
    background-color: #4d9e83;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px !important;
    margin-bottom: 40px !important;
  }
  
  button:hover {
    background-color: #82C3AD;
  }
  
  .content::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
  }
  .bn632-hover {
    width: 350px;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 55px;
    height: 70px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 10px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover.bn23 {
    background-image: linear-gradient(
      to right,
      #009245,
      #fcee21,
      #00a8c5,
      #d9e021
    );
    box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
  }
   .bn62-hover {
    width: 350px;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 0px;
    height: 55px;
    height: 70px;

    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 10px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn62-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn62-hover:focus {
    outline: none;
  }
  
  .bn62-hover.bn23 {
    background-image: linear-gradient(
      to right,
      #009245,
      #fcee21,
      #00a8c5,
      #d9e021
    );
    box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
  }