.page-container {
    background-image: url('src\assets\fawater.png');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Set the height to cover the entire viewport */
  }
 
h1 {
    text-align: center;
    font-size:500%;
    color: rgb(255, 255, 255);
    text-align: center;

  }
  /* src/app/order-list/order-list.component.css */
.order-table {
  width: 100%;
  border-collapse: collapse;
  margin: 40px 0px 0px 0px;
  font-family: Arial, sans-serif;
}

.order-table th, .order-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

.order-table th {
  background-color: #f2f2f2;
}

.order-table button {
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.order-table button:hover {
  background-color: #45a049;
}

.order-table input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin: auto;
  display: block;
}
  
  td button {
    background-color: #73AE66;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  td button:hover {
    background-color: #00b34b;
  }
  .bn632-hover {
    width: 160px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover.bn21 {
    background-image: linear-gradient(
      to right,
      #fc6076,
      #ff9a44,
      #ef9d43,
      #e75516
    );
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
  }
  .bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover.bn22 {
    background-image: linear-gradient(
      to right,
      #0ba360,
      #3cba92,
      #30dd8a,
      #2bb673
    );
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
  }