
<div class="page-container">

    <div>
        <br/>
        <br/>
        <br/>
        <br/>
        <h1>تقرير الطلبات</h1>
<!-- src/app/order-list/order-list.component.html -->
<table class="order-table">
  <thead>
    <tr>
      <th>تفاصيل الطلب</th>
      <th>رقم الفاتورة</th>
      <th>حالة الدفع</th>
      <th>رقم الطلب</th>
      <th>تاريخ الطلب</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <td><button (click)="viewOrderDetails(order.orderId)">عرض</button></td>
      <td>{{ order.paymentReference }}</td>
      <td>{{ order.paid  }}</td>
      <td>{{ order.orderId }}</td>
      <td>{{ order.orderDate | date:'yyyy-MM-dd' }}</td>
      <td><input type="checkbox"
        [checked]="selectedOrderIds.has(order.orderId)" 
          (change)="toggleSelection(order.orderId)"
        ></td>
    </tr>
  </tbody>
</table>

        <br/>
        <br/>
        <br/>
        <a ><button class="bn632-hover bn21" (click)="processSelected(false)">رفض</button></a>
        <a ><button class="bn632-hover bn22" (click)="processSelected(true)">تاكيد</button></a>
        <a href="main"><button class="bn632-hover bn22">العودة</button></a>
      </div>
      